{% extends 'base.html' %} {% load bootstrap4 %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
          <h2 style="text-align: center;"><u>My profile</u></h2>
          {% if user.profile.profile_image %}
        <img src="{{user.profile.profile_image.url}}" class=" round-circle img-fluid card-img-top" width="350px" alt="dp" >{% else  %}
        <img class="img-fluid" height="250px" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.cntraveler.com%2Fgalleries%2F2015-11-27%2Fthe-50-most-beautiful-places-in-the-world&psig=AOvVaw10LhMun2SuJo0eAJ_QMmRe&ust=1634475837553000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNDokpf_zvMCFQAAAAAdAAAAABAO" alt="dp" style="border-radius: 50%; width: 250px; margin-left: 40%; ">{% endif%}
        <div class="card-body">
          <h5 class="card-title"> <h3 style="text-align: center;">Username: {{user.username}} </h3></h5>
          <p class="card-text">{% if user.profile.bio %}
              <h5 style="text-align: center;"><b>Bio:</b>{{user.profile.bio}} </h5>
              {% else %}
              <p style="text-align: center;">You have no Bio yet</p>
              {% endif %}
          </p>
          <a href="/editprofile" class="btn btn-primary" style="margin-left: 40%;">Update profile</a>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        {% if my_posts %}
        <h2 style="margin-left: 20%; margin: 3%;"><h2>
        <div class="row">
            {% for post in my_posts %}
            <div class="card" style="width: 500px; margin: 3%;">
            <h4 style="text-align: center;" class="card-title picture">{{post.name}}</h4>
            <a href="/single/{{post.id}}">
                <img class="timelinepicture card-img-fluid" width="500px" height="450px" src="{{post.ig_pic.url}}" alt="Image">
                <div class="card-body">

                    <p style="text-align: center;" class="card-text">{{post.caption}}</p>
                    <p class="card-text">Posted by: {{post.user}}</p>
                    <div class="card-footer">
                        <a href="{% url 'comment' post.id %}" class="btn btn-outline"><button>Comments</button></a>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No posts yet</p>
    {% endif %}
    <col-md-2></col-md-2>
  </div>
</div>
</div>
  {% endblock %}